html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	font-family: sans-serif;
	text-decoration: none;

	/* Disable text selection. */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.iconcontainer {
	padding-right: 6%;
}

.icon {
	float: left;
	padding:8% 0% 0% 8%;
	width: 25%;
	height: auto;
	text-align: center;
	margin: 0 auto; 
    overflow: visible;
}

.icontext {
    position:relative;
    float: right;
    right: 50%;
}
.icontext p {
    position: relative; 
    right:-50%;
}

img {
	max-width: 100%;
	max-height: auto;
}

#search{
	color: grey;
}

input[type="text"] {
	margin:8% 8% 0% 8%;
    width: 84%;
}
